.project_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
    justify-content: center;
}
.project_item{
    background: var(--color-bg-variant);
    padding: 1.3rem;
     border-radius: 2rem;
    border: 1px soli transparent;
    transition:  var(--transition);
}
.project_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
}
.project_item-image{
    border-radius: 1rem;
    overflow: hidden;
}
.project_item-image video{
    height: 200px;
    border-radius: 1rem;
}
.project_item h3{
    margin: 1.1rem 0 0.8rem;
}
.project_item-cta{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* media queries for medium devices */
@media screen  and (max-width: 1024px){
   .project_container{
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
   }
}

/* media queries for small devices */
@media screen  and (max-width: 600px){
   .project_container{
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-left: 10rem;
   }
   .project_item{
    width: 390px;
    padding: 0.9rem;
   }
}

@media screen  and (max-width: 400px){
    .project_container{
     grid-template-columns: 1fr;
     gap: 1rem;
     margin-left: 10rem;
    }
    .project_item{ 
        width: 344px;
   
    }
    .project_item-image{
      
        height: 55%;
        position: relative;
    }
    .project_item-image video {
        height: 150px;
    }
}